.tokonomics {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin: 5rem 0;
}
.tokonomics .heading {
  font-size: 40px;
  margin-bottom: 25px;
}

.tokonomics .sub-heading {
  text-align: center;
}

.tokonomics .chart-img img {
  width: 800px;
}

.tokonomics p {
  font-size: 15px;
}

.tokonomics .chart-info {
  /* display: grid;
  grid-template-columns: auto auto; */
  /* display: ; */
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.tokonomics .chart-info .each {
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: 35vw;
  min-width: 320px;
  background-color: #161a3c;
}
.tokonomics .chart-info .each .right-color {
  width: 20px;
  height: 100%;
  border-radius: 20px 0 0 20px;
  background-color: red;
}
.chart-info .each .left-info {
  padding: 20px;
  width: 100%;
}
.chart-info .each .left-info .top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  width: 100%;
}
.chart-info .each .left-info .top .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.chart-info .each .left-info .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .tokonomics .chart-info .each {
    /* margin: 30px 0; */
    width: 60vw;
  }
  .tokonomics .chart-info .each .right-color {
    width: 20px;
    height: 100%;
    border-radius: 20px 0 0 20px;
  }
}
@media (max-width: 1100px) {
  .tokonomics .chart-img img {
    width: 80vw;
  }
}
