body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #000000;
  color: white;
  overflow-x: hidden;
}

.days-one {
  font-family: "Days One", sans-serif;
}
.gray {
  color: gray;
}
html {
  scroll-behavior: smooth;
}
